body {
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.navigationbar {
    background-color: white;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;

}

.logo_utama {
    margin-top: 11px;
    margin-left: 125px;
    padding: 10px;
}

.navigation_bar_option {
    float: right;
    margin-top: 52px;
    margin-right: 187px;
}

.navigation_bar_option a {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    color: #19345E;
    text-decoration: none;
}

#Home:hover,
#About:hover,
#Contact:hover,
#Experience:hover {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    color: #F47522;
    text-decoration: none;
    background-color: #19345E;
}

/* Kalo home dihover, yang lain jadi abu */

#Home:hover~#About,
#Home:hover~#Contact,
#Home:hover~#Experience {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    background-color: white;
}

#About:hover~#Home,
#About:hover~#Contact,
#About:hover~#Experience {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    background-color: white;
}

#Contact:hover~#Home,
#Contact:hover~#About,
#Contact:hover~#Experience {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    background-color: white;
}

#Experience:hover~#Home,
#Experience:hover~#Contact,
#Experience:hover~#About {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    background-color: white;
}

#Experience {
    color: #F47522;
}

.Experience_Large {
    background-color: #F4F7FC;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    width: 100%;
    float: left;
    padding: 30px;

}

.Experience_Large_p {
    margin-left: 95px;
    font-size: 35px;
    color: #19345E;

}

.garis_tinggi {
    position: absolute;
    background-color: #CFD6E2;
    width: 2px;
    height: 600px;
    left: 309px;
    top: 280px;
    z-index: -1;

}
.circle_dot {
    background-color: #19345E;
    border-radius: 50%;
    border: #19345E 5px;
    width: 20px;
    height: 20px;
}

.circle_dot:nth-child(1) {
    position: absolute;
    top: 330px;
    left: 300px;
    z-index: 1;
}

.circle_dot:nth-child(2) {
    position: absolute;
    top: 570px;
    left: 300px;
    z-index: 1;
}

.circle_dot:nth-child(3) {
    position: absolute;
    top: 770px;
    left: 300px;
    z-index: 1;
}

#experience_main {
    margin-top: 30px;
    padding: 50px;
}

.experience_list {
    list-style-type: none;
    color: #19345E;
    border: 5px;
    border-color: #F47522; 
}

.jobdesc {
    border:5px solid;
    border-color: #F47522; 
    padding: 25px;

}

.period {
    color: #ACACAC;
}

.bottom_navigation_bar {
    background-color: #19345E;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    display: flex;

}

.logo_bawah {
    width: auto;
    height: 100;
    padding: 20px;
    margin-left: 105px;

}

.judul_tabel {
    color: white;
    margin-right: 500px;
}

/* .tabel_bawah {

} */

.tabel_bawah td,
.tabel_bawah tr {
    padding: 50px;
}

.sosmed {
    margin-left: 400px;
    margin-top: 30px;

}

/* .garis_abu {
    background-color: #cccccc;
    width: 2px;
    height:70px;
    border-radius: 5px;
    float:left;
    margin-right: 500px;
    
} */

.copyright {
    padding: 10px;
    margin-top: 30px;

    color: white;
}